{% extends 'app/header.html' %} {% block content %}

<div class="container">
  <div class="box center">

    <div class="box-title card-title-large">
      <h3>UCs pendentes:</h3>
    </div>

    <div class="row justify-content-center">
      {% csrf_token %} {% for course in missing_courses %}
      <div class="col-12 text-center">
        <div class="box-column">
          <div class="box-checkbox">
            <div class="box-text">
              <p>{{course}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100"></div>
      {% endfor %}
      <button
        class="btn"
        style="background-color: #e0ddaa"
        onclick="window.location.href='/menu';"
      >
        OK
      </button>
    </div>
  </div>
</div>

{% endblock %}
