{% extends 'app/header.html' %} {% block content %}
<div>
  <div class="container">
    <div class="box">
      <div class="large-box">
        <div class="box-title card-title-large">
          <h3>Perfil</h3>
        </div>

        <h5 class="user-title">Nome:</h5>
        <p class="box-text ">{{user}}</p>
        <h5 class="user-title">Cursando:</h5>
        <p class="box-text">{{degree}}</p>
        <h5 class="user-title">Estimativa para término</h5>
        <h5 class="user-title">em Semestres:</h5>
        <p class="box-text">{{remaining_semesters}} semestres</p>
        <div>
          <button
            class="btn"
            style="background-color: #e0ddaa"
            onclick="window.location.href='/selecao/';"
          >
            Alterar
          </button>
          <button
            class="btn"
            style="background-color: #e0ddaa"
            onclick="window.location.href='/perfil/calcular';"
          >
            Atualizar Estimativa
          </button>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
