{% extends 'app/header.html' %}

{% block content %}
 
    <section class="white-section">
      <form action="" method="post">
        {% csrf_token %}
        <div class="container">

            <div class="row">

                <div class="col-12">
                    <div class="text-center box-checkbox">
                        Horários
                    </div>
                    <div class="text-center border-bottom border-dark">
                        08:00 - 10:00
                    </div>
                    <div class="text-center border-bottom border-dark">
                        10:00 - 12:00
                    </div>
                    <div class="text-center border-bottom border-dark">
                        12:00 - 13:30
                    </div>
                    <div class="text-center border-bottom border-dark">
                        13:30 - 15:30
                    </div>
                    <div class="text-center border-bottom border-dark">
                        15:30 - 17:30
                    </div>
                    <div class="text-center border-bottom border-dark">
                        17:30 - 19:00
                    </div>
                    <div class="text-center border-bottom border-dark">
                        19:00 - 21:00
                    </div>
                    <div class="text-center">
                        21:00 - 23:00
                    </div>

                </div>

              <div class="col">
                <div class="text-center box-checkbox">
                    Segunda
                </div>
                <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                    <option selected>------</option>
                    {% for course in mon_courses %}
                    {% if course.day1 == 'MON' and course.time1 ==  oito%}
                    <option value="{{course}}">{{course.name}}</option>
                    {% elif course.day2 == 'MON' and course.time2 ==  oito%}
                    <option value="{{course}}">{{course.name}}</option>
                    {% elif course.day3 == 'MON' and course.time3 ==  oito%}
                    <option value="{{course}}">{{course.name}}</option>
                    {%endif%}
                    {%endfor%}
                  </select> 
                <br>
                  <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                    <option selected>------</option>
                    {% for course in mon_courses %}
                    {% if course.day1 == 'MON' and course.time1 ==  dez%}
                    <option value="{{course}}">{{course.name}}</option>
                    {% elif course.day2 == 'MON' and course.time2 ==  dez%}
                    <option value="{{course}}">{{course.name}}</option>
                    {% elif course.day3 == 'MON' and course.time3 ==  dez%}
                    <option value="{{course}}">{{course.name}}</option>
                    {%endif%}
                    {%endfor%}
                  </select>
                  <br>Almoço<br>
                  <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                    <option selected>------</option>
                    {% for course in mon_courses %}
                    {% if course.day1 == 'MON' and course.time1 ==  uma_meia%}
                    <option value="{{course}}">{{course.name}}</option>
                    {% elif course.day2 == 'MON' and course.time2 ==  uma_meia%}
                    <option value="{{course}}">{{course.name}}</option>
                    {% elif course.day3 == 'MON' and course.time3 ==  uma_meia%}
                    <option value="{{course}}">{{course.name}}</option>
                    {%endif%}
                    {%endfor%}
                  </select>
                  <br>
                  <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                    <option selected>------</option>
                    {% for course in mon_courses %}
                    {% if course.day1 == 'MON' and course.time1 ==  tres_meia%}
                    <option value="{{course}}">{{course.name}}</option>
                    {% elif course.day2 == 'MON' and course.time2 ==  tres_meia%}
                    <option value="{{course}}">{{course.name}}</option>
                    {% elif course.day3 == 'MON' and course.time3 ==  tres_meia%}
                    <option value="{{course}}">{{course.name}}</option>
                    {%endif%}

                    {%endfor%}
                  </select>
                  <br>Janta<br>
                  <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                    <option selected>------</option>
                    {% for course in mon_courses %}
                    {% if course.day1 == 'MON' and course.time1 ==  sete%}
                    <option value="{{course}}">{{course.name}}</option>
                    {% elif course.day2 == 'MON' and course.time2 ==  sete%}
                    <option value="{{course}}">{{course.name}}</option>
                    {% elif course.day3 == 'MON' and course.time3 ==  sete%}
                    <option value="{{course}}">{{course.name}}</option>
                    {%endif%}
                    {%endfor%}
                  </select>
                  <br>
                  <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                    <option selected>------</option>
                    {% for course in mon_courses %}
                    {% if course.day1 == 'MON' and course.time1 ==  nove%}
                    <option value="{{course}}">{{course.name}}</option>
                    {% elif course.day2 == 'MON' and course.time2 ==  nove%}
                    <option value="{{course}}">{{course.name}}</option>
                    {% elif course.day3 == 'MON' and course.time3 ==  nove%}
                    <option value="{{course}}">{{course.name}}</option>
                    {%endif%}
                    {%endfor%}
                  </select>
              </div>


              <div class="col">
                <div class="text-center box-checkbox">
                    Terça
                  </div>
                  <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in tue_courses %}
                      {% if course.day1 == 'TUE' and course.time1 ==  oito%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'TUE' and course.time2 ==  oito%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'TUE' and course.time3 ==  oito%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select> 
                  <br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in tue_courses %}
                      {% if course.day1 == 'TUE' and course.time1 ==  dez%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'TUE' and course.time2 ==  dez%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'TUE' and course.time3 ==  dez%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select>
                    <br>Almoço<br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in tue_courses %}
                      {% if course.day1 == 'TUE' and course.time1 ==  uma_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'TUE' and course.time2 ==  uma_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'TUE' and course.time3 ==  uma_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select>
                    <br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in tue_courses %}
                      {% if course.day1 == 'TUE' and course.time1 ==  tres_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'TUE' and course.time2 ==  tres_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'TUE' and course.time3 ==  tres_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
  
                      {%endfor%}
                    </select>
                    <br>Janta<br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in tue_courses %}
                      {% if course.day1 == 'TUE' and course.time1 ==  sete%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'TUE' and course.time2 ==  sete%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'TUE' and course.time3 ==  sete%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select>
                    <br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in tue_courses %}
                      {% if course.day1 == 'TUE' and course.time1 ==  nove%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'TUE' and course.time2 ==  nove%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'TUE' and course.time3 ==  nove%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select>
                </div>


              <div class="col">
                <div class="text-center box-checkbox">
                    Quarta
                  </div>
                  <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in wed_courses %}
                      {% if course.day1 == 'WED' and course.time1 ==  oito%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'WED' and course.time2 ==  oito%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'WED' and course.time3 ==  oito%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select> 
                  <br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in wed_courses %}
                      {% if course.day1 == 'WED' and course.time1 ==  dez%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'WED' and course.time2 ==  dez%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'WED' and course.time3 ==  dez%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select>
                    <br>Almoço<br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in wed_courses %}
                      {% if course.day1 == 'WED' and course.time1 ==  uma_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'WED' and course.time2 ==  uma_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'WED' and course.time3 ==  uma_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select>
                    <br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in wed_courses %}
                      {% if course.day1 == 'WED' and course.time1 ==  tres_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'WED' and course.time2 ==  tres_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'WED' and course.time3 ==  tres_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
  
                      {%endfor%}
                    </select>
                    <br>Janta<br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in wed_courses %}
                      {% if course.day1 == 'WED' and course.time1 ==  sete%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'WED' and course.time2 ==  sete%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'WED' and course.time3 ==  sete%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select>
                    <br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in wed_courses %}
                      {% if course.day1 == 'WED' and course.time1 ==  nove%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'WED' and course.time2 ==  nove%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'WED' and course.time3 ==  nove%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select>
                </div>
              
            </div>

        </div>



        <div class="container" style="padding-top: 50px;">

            <div class="row">

                <div class="col">
                    <div class="text-center box-checkbox">
                        Horários
                    </div>
                    <div class="text-center border-bottom border-dark">
                        08:00 - 10:00
                    </div>
                    <div class="text-center border-bottom border-dark">
                        10:00 - 12:00
                    </div>
                    <div class="text-center border-bottom border-dark">
                        12:00 - 13:30
                    </div>
                    <div class="text-center border-bottom border-dark">
                        13:30 - 15:30
                    </div>
                    <div class="text-center border-bottom border-dark">
                        15:30 - 17:30
                    </div>
                    <div class="text-center border-bottom border-dark">
                        17:30 - 19:00
                    </div>
                    <div class="text-center border-bottom border-dark">
                        19:00 - 21:00
                    </div>
                    <div class="text-center">
                        21:00 - 23:00
                    </div>

                </div>
              
              <div class="col">
                <div class="text-center box-checkbox">
                    Quinta
                  </div>
                  <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in thu_courses %}
                      {% if course.day1 == 'THU' and course.time1 ==  oito%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'THU' and course.time2 ==  oito%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'THU' and course.time3 ==  oito%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select> 
                  <br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in thu_courses %}
                      {% if course.day1 == 'THU' and course.time1 ==  dez%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'THU' and course.time2 ==  dez%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'THU' and course.time3 ==  dez%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select>
                    <br>Almoço<br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in thu_courses %}
                      {% if course.day1 == 'THU' and course.time1 ==  uma_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'THU' and course.time2 ==  uma_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'THU' and course.time3 ==  uma_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select>
                    <br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in thu_courses %}
                      {% if course.day1 == 'THU' and course.time1 ==  tres_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'THU' and course.time2 ==  tres_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'THU' and course.time3 ==  tres_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
  
                      {%endfor%}
                    </select>
                    <br>Janta<br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in thu_courses %}
                      {% if course.day1 == 'THU' and course.time1 ==  sete%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'THU' and course.time2 ==  sete%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'THU' and course.time3 ==  sete%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select>
                    <br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in thu_courses %}
                      {% if course.day1 == 'THU' and course.time1 ==  nove%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'THU' and course.time2 ==  nove%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'THU' and course.time3 ==  nove%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select>
                </div>


              <div class="col">
                <div class="text-center box-checkbox">
                    Sexta
                  </div>
                  <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in fri_courses %}
                      {% if course.day1 == 'FRI' and course.time1 ==  oito%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'FRI' and course.time2 ==  oito%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'FRI' and course.time3 ==  oito%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select> 
                  <br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in fri_courses %}
                      {% if course.day1 == 'FRI' and course.time1 ==  dez%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'FRI' and course.time2 ==  dez%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'FRI' and course.time3 ==  dez%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select>
                    <br>Almoço<br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in fri_courses %}
                      {% if course.day1 == 'FRI' and course.time1 ==  uma_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'FRI' and course.time2 ==  uma_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'FRI' and course.time3 ==  uma_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select>
                    <br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in fri_courses %}
                      {% if course.day1 == 'FRI' and course.time1 ==  tres_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'FRI' and course.time2 ==  tres_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'FRI' and course.time3 ==  tres_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
  
                      {%endfor%}
                    </select>
                    <br>Janta<br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in fri_courses %}
                      {% if course.day1 == 'FRI' and course.time1 ==  sete%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'FRI' and course.time2 ==  sete%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'FRI' and course.time3 ==  sete%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select>
                    <br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in fri_courses %}
                      {% if course.day1 == 'FRI' and course.time1 ==  nove%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'FRI' and course.time2 ==  nove%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'FRI' and course.time3 ==  nove%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select>
                </div>

              <div class="col">
                <div class="text-center box-checkbox">
                    Sábado
                  </div>
                  <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in sat_courses %}
                      {% if course.day1 == 'SAT' and course.time1 ==  oito%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'SAT' and course.time2 ==  oito%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'SAT' and course.time3 ==  oito%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select> 
                  <br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in sat_courses %}
                      {% if course.day1 == 'SAT' and course.time1 ==  dez%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'SAT' and course.time2 ==  dez%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'SAT' and course.time3 ==  dez%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select>
                    <br>Almoço<br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in sat_courses %}
                      {% if course.day1 == 'SAT' and course.time1 ==  uma_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'SAT' and course.time2 ==  uma_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'SAT' and course.time3 ==  uma_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select>
                    <br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in sat_courses %}
                      {% if course.day1 == 'SAT' and course.time1 ==  tres_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'SAT' and course.time2 ==  tres_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'SAT' and course.time3 ==  tres_meia%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
  
                      {%endfor%}
                    </select>
                    <br>Janta<br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in sat_courses %}
                      {% if course.day1 == 'SAT' and course.time1 ==  sete%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'SAT' and course.time2 ==  sete%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'SAT' and course.time3 ==  sete%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select>
                    <br>
                    <select class="form-select box-header-card" aria-label="Default select example" name="courses">
                      <option selected>------</option>
                      {% for course in sat_courses %}
                      {% if course.day1 == 'SAT' and course.time1 ==  nove%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day2 == 'SAT' and course.time2 ==  nove%}
                      <option value="{{course}}">{{course.name}}</option>
                      {% elif course.day3 == 'SAT' and course.time3 ==  nove%}
                      <option value="{{course}}">{{course.name}}</option>
                      {%endif%}
                      {%endfor%}
                    </select>
                </div>

            </div>

            <div>
              <input type="submit">
            </div>

        </div>



    </section>
    {% endblock %}