{% extends 'app/header.html' %} {% block content%}

<section class="white-section">
  <style>
    body {
      color: white;
    }
  </style>

  <div class="container">
    <form action="" method="post" novalidate> 
      {% csrf_token %}
      <div class="box center">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button type="button" class="nav-link active" data-toggle="tab" href="#home">
              Seg
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button type="button" class="nav-link" data-toggle="tab" href="#terca">
              Ter
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button type="button" class="nav-link" data-toggle="tab" href="#quarta">
              Qua
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button type="button" class="nav-link" data-toggle="tab" href="#quinta">
              Quin
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button type="button" class="nav-link" data-toggle="tab" href="#sexta">
              Sex
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button type="button" class="nav-link" data-toggle="tab" href="#sabado">
              Sab
            </button>
          </li>
        </ul>

        <div class="large-box">
          <div class="row">
            <div class="col-4 text-center">
              <div class="text-center border-bottom border-dark">
                08:00 - 10:00
              </div>
              <div class="text-center border-bottom border-dark">
                10:00 - 12:00
              </div>
              <div class="text-center border-bottom border-dark">
                12:00 - 13:30
              </div>
              <div class="text-center border-bottom border-dark">
                13:30 - 15:30
              </div>
              <div class="text-center border-bottom border-dark">
                15:30 - 17:30
              </div>
              <div class="text-center border-bottom border-dark">
                17:30 - 19:00
              </div>
              <div class="text-center border-bottom border-dark">
                19:00 - 21:00
              </div>
              <div class="text-center">21:00 - 23:00</div>
            </div>

            <div class="col-8 text-center fixed">
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="home"
                  role="tabpanel"
                >
                  {% for field in monForm %} {% if forloop.counter == 3 %}
                  <div>Almoço</div>
                  {% endif %} {% if forloop.counter == 5 %}
                  <div>Janta</div>
                  {% endif %} {{ field }} {% endfor %}
                </div>
                <div class="tab-pane fade" id="terca" role="tabpanel">
                  {% for field in tueForm %} {% if forloop.counter == 3 %}
                  <div>Almoço</div>
                  {% endif %} {% if forloop.counter == 5 %}
                  <div>Janta</div>
                  {% endif %} {{ field }} {% endfor %}
                </div>
                <div class="tab-pane fade" id="quarta" role="tabpanel">
                  {% for field in wedForm %} {% if forloop.counter == 3 %}
                  <div>Almoço</div>
                  {% endif %} {% if forloop.counter == 5 %}
                  <div>Janta</div>
                  {% endif %} {{ field }} {% endfor %}
                </div>
                <div class="tab-pane fade" id="quinta" role="tabpanel">
                  {% for field in thuForm %} {% if forloop.counter == 3 %}
                  <div>Almoço</div>
                  {% endif %} {% if forloop.counter == 5 %}
                  <div>Janta</div>
                  {% endif %} {{ field }} {% endfor %}
                </div>
                <div class="tab-pane fade" id="sexta" role="tabpanel">
                  {% for field in friForm %} {% if forloop.counter == 3 %}
                  <div>Almoço</div>
                  {% endif %} {% if forloop.counter == 5 %}
                  <div>Janta</div>
                  {% endif %} {{ field }} {% endfor %}
                </div>
                <div class="tab-pane fade" id="sabado" role="tabpanel">
                  {% for field in satForm %} {% if forloop.counter == 3 %}
                  <div>Almoço</div>
                  {% endif %} {% if forloop.counter == 5 %}
                  <div>Janta</div>
                  {% endif %} {{ field }} {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <input
          class="btn center"
          style="background-color: #e0ddaa"
          type="submit"
          value="Submit"
        />
      </div>
    </form>
  </div>
</section>
{% endblock %}
