{% extends 'app/header.html' %} {% block content %}


<div>
  <div class="container">
    <div class="box">
      <div class="large-box">
        <div class="box-title card-title-large">
          <a href="/menu" class="buttonAG extra-marg"
           ><h3>Menu</h3></a
        >
        </div>

        <div class="box-text">
          <a href="/selecao_materias_concluidas" class="buttonAG extra-marg"
            >Materias Concluidas</a
          >
        </div>
        <div class="box-text">
          <a href="/selecao_materias_concluidas/interesse" class="buttonAG extra-marg"
            >Materias de interesse</a
          >
        </div>
        <div class="box-text">
          <a href="/materias_pendentes/" class="buttonAG extra-marg"
            >Materias pendentes</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
