{% extends 'app/header.html' %}


{% block content %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Redefinir Senha</h2>
		<hr>
		<p>Esqueceu sua senha? Insira seu endereço de email abaixo, e enviaremos instruções para criar uma nova.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}                    
            <button class="btn btn-primary" type="submit">Enviar email</button>
        </form>
  	</div> 

{% endblock %}