{% extends 'app/header.html' %} {% block content %} {% load crispy_forms_tags %}
{% comment %}
<!--Reset Password-->
<div class="container p-5">
  <h2 class="font-weight-bold mt-3">Redefinir Senha</h2>
  <hr />
  <p>
    Esqueceu sua senha? Insira seu endereço de email abaixo, e enviaremos
    instruções para criar uma nova.
  </p>
  <form method="POST">
    {% csrf_token %} {{ password_reset_form|crispy }}
    <button class="btn btn-primary" type="submit">Enviar email</button>
  </form>
</div>
{% endcomment %}

<div>
  <div class="container">
    <div class="box">
      <div class="large-box">
        <div class="box-title card-title-large">
          <h3>Redefinir Senha</h3>
        </div>
        <div class="box-text">
          <p>Esqueceu sua senha?</p>
          <p>
            Insira seu endereço de email abaixo, e enviaremos instruções para
            criar uma nova.
          </p>
        </div>
        <div class="box-text">
          <form method="POST">
            {% csrf_token %} {{ password_reset_form|crispy }}
            <div class="box-text">
              <button
                class="btn"
                style="background-color: #e0ddaa"
                type="submit"
              >
                Enviar email
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
